@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
}

/* Forzamos al contenedor raíz a ocupar toda la pantalla */
#root {
  width: 100vw;
  height: 100vh;
  background: #030308;
}

body {
  margin: 0;
  background: #030308;
  color: white;
  font-family: 'Inter', sans-serif;
}